{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğrenciler</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "includes/_navbar.html" %}

      {% if messages %}
          {% for mesaj in messages %}
              <div class="alert alert-primary text-center" role="alert">
                {{mesaj}}
              </div>
          {% endfor %}
      {% else %}
      {% endif %}

    {% block content %}
   
        <div class="container">
        <h2 class="text-center mt-3">Öğrenciler</h2>
        <div class="row">

        {% for i in ogrenci %}
        
            <div class="col-4 mt-2">
              <div class="card" style="width: 18rem;">
                    <img src="{{i.resim.url}}" class="card-img-top w-100" height="200" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.isim_soyisim}}</h5>
                      <p class="card-text">{{i.hakkimda}}</p>
                      <a href="{% url 'detail' i.id %}" class="btn btn-primary">Detaylar için tıklayın</a>
                    </div>
                </div>
            </div>
       
            
            {% endfor %}
        </div>
      </div>
    {% endblock content %}
      
      

      {% include "includes/_footer.html" %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>